In [7]:
import pandas as pd
import datetime
import numpy as np
import random
import time
import string

# Functions to create random fields

## Random dates

In [54]:
#Generate random date 


def str_time_prop(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, format))
    etime = time.mktime(time.strptime(end, format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%d/%m/%Y %I:%M %p', prop)

print(random_date("8/4/2020 12:00 PM", "31/05/2020 11:59 PM", np.random.power(1)))

14/04/2020 04:22 PM

In [56]:
[random_date("8/4/2020 12:00 PM", "31/05/2020 11:59 PM", np.random.power(1)) for _ in range(3)]

['30/05/2020 08:47 AM', '03/05/2020 08:52 AM', '20/04/2020 01:26 AM']

## Random post codes

In [11]:
random_postcodes = ["SW1 3RN", "SW1V 4DG", "SE1 8XX", "B7 4NG", "EC1A 1BB", "W1A 0AX", "M1 1AE", "B33 8TH", "CR2 6XH", "DN55 1PT", "X", np.nan]
np.random.choice(random_postcodes, 5)

array(['W1A 0AX', 'W1A 0AX', 'X', 'DN55 1PT', 'B33 8TH'], dtype='<U8')

## First time agression

In [14]:
first_time = ["yes", "no"]
np.random.choice(first_time, 5)

array(['yes', 'yes', 'yes', 'yes', 'no'], dtype='<U3')

## Agressor

In [15]:
agressor = ["partner", "father", "brother", "father-in-law"]
np.random.choice(agressor, 5)

array(['father-in-law', 'partner', 'father-in-law', 'father', 'brother'],
      dtype='<U13')

## Random string

In [40]:
#Generate random string 

def random_string_generator(size=6, chars=string.ascii_lowercase + string.digits):
    return ''.join(random.choice(chars) for x in range(size))

random_string_generator()

'od6zm1'

In [41]:
[random_string_generator(size = random.randint(0, 50)) for _ in range(3)]

['0n706', 'rm1kl9p18ymaorga74fadoyczj44', 'c2m4fhd9biceh8h9oeivzprl8v4cv9']

# Generate random data set

In [60]:
def generate_random_dataframe(i): 
    """
    i: number of rows 
    """
    df = pd.DataFrame({
        "date_of_report" : [random_date("8/4/2020 12:00 PM", "31/05/2020 11:59 PM", np.random.power(2)) for _ in range(i)], 
        "postal_code": np.random.choice(random_postcodes, i), 
        "first_time_experience" : np.random.choice(first_time, i), 
        "aggressor" : np.random.choice(agressor, i), 
        "written_report" : [random_string_generator(size = random.randint(0, 50)) for _ in range(i)]}
        )
    return df

In [61]:
data = generate_random_dataframe(1000)
data

,date_of_report,postal_code,first_time_experience,aggressor,written_report
0,12/05/2020 07:51 AM,SW1V 4DG,no,brother,w
1,23/04/2020 08:31 PM,nan,yes,brother,gh4sky520l5a2xxl8jeitu6tevsd3j0l0o5fth1gnm5q
2,05/05/2020 02:14 AM,DN55 1PT,yes,brother,9b5j8lp9c04yx0qe5hwmaiutlfxffnt7msosb
3,19/05/2020 02:24 AM,SE1 8XX,yes,brother,edqbjpzsdhyqobn
4,16/05/2020 10:53 AM,SE1 8XX,no,father,03cqtiq3yotp5u4runtckhof
...,...,...,...,...,...
995,31/05/2020 07:44 PM,SW1V 4DG,no,father,4e6mngw11ldtomh9j48swd1xtsdyf435hvl9s3yr
996,07/05/2020 01:38 PM,SW1 3RN,yes,brother,b67qr1t
997,24/04/2020 01:00 PM,X,no,father,70mu4zba2wa5v1p7ddfv3r138krju84dz4u6jzlrqiw1wxhv
998,25/05/2020 12:27 AM,B7 4NG,yes,partner,6vz1ot1urp2z0cwvw7pa05jfuvma23lfehbrog3
999,25/04/2020 05:28 PM,B33 8TH,yes,partner,v9chqu3o85jdp2i5cp7vsedmwbtgovah5

In [62]:
data.to_csv("dummy_data_new.csv")