In [13]:
import pandas as pd
import datetime
import numpy as np
import random
import time
import string

# Functions to create random fields

## Random dates

In [14]:
#Generate random date 


def str_time_prop(start, end, format, prop):
    """Get a time at a proportion of a range of two formatted times.

    start and end should be strings specifying times formated in the
    given format (strftime-style), giving an interval [start, end].
    prop specifies how a proportion of the interval to be taken after
    start.  The returned time will be in the specified format.
    """

    stime = time.mktime(time.strptime(start, format))
    etime = time.mktime(time.strptime(end, format))

    ptime = stime + prop * (etime - stime)

    return time.strftime(format, time.localtime(ptime))


def random_date(start, end, prop):
    return str_time_prop(start, end, '%d/%m/%Y %I:%M %p', prop)

print(random_date("8/4/2020 12:00 PM", "31/05/2020 11:59 PM", np.random.power(1)))

14/05/2020 12:15 AM

In [15]:
[random_date("8/4/2020 12:00 PM", "31/05/2020 11:59 PM", np.random.power(1)) for _ in range(3)]

['16/05/2020 09:10 AM', '21/05/2020 04:01 AM', '28/05/2020 01:09 PM']

## Random post codes

In [16]:
random_postcodes = ["SW1 3RN", "SW1V 4DG", "SE1 8XX", "B7 4NG", "EC1A 1BB", "W1A 0AX", "M1 1AE", "B33 8TH", "CR2 6XH", "DN55 1PT", "X", np.nan]
np.random.choice(random_postcodes, 5)

array(['CR2 6XH', 'EC1A 1BB', 'SE1 8XX', 'CR2 6XH', 'SE1 8XX'],
      dtype='<U8')

## First time agression

In [17]:
first_time = ["yes", "no"]
np.random.choice(first_time, 5)

array(['yes', 'yes', 'no', 'yes', 'yes'], dtype='<U3')

## Agressor

In [18]:
agressor = ["partner", "father", "brother", "father-in-law"]
np.random.choice(agressor, 5)

array(['father-in-law', 'brother', 'father-in-law', 'father', 'brother'],
      dtype='<U13')

## Display report or not

In [19]:
np.random.binomial(1, 0.1, 20)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

## Random string

In [20]:
#Generate random string 

def random_string_generator(size=6, chars=string.ascii_lowercase + string.digits):
    return ''.join(random.choice(chars) for x in range(size))

random_string_generator()

'w0asak'

In [21]:
[random_string_generator(size = random.randint(0, 50)) for _ in range(3)]

['9mqx5y8lmpsf4zp8v3dvle',
 '82vqt2030dvo9sqdixxfnggwkw29heurgrm2ez4',
 'hwyhsga1uc3mi']

# Generate random data set

In [22]:
def generate_random_dataframe(i): 
    """
    i: number of rows 
    """
    df = pd.DataFrame({
        "date_of_report" : [random_date("8/4/2020 12:00 PM", "31/05/2020 11:59 PM", np.random.power(2)) for _ in range(i)], 
        "postal_code": np.random.choice(random_postcodes, i), 
        "first_time_experience" : np.random.choice(first_time, i), 
        "aggressor" : np.random.choice(agressor, i), 
        "display_testimonial" : np.random.binomial(1, 0.1, i), 
        "written_report" : [random_string_generator(size = random.randint(0, 50)) for _ in range(i)]}
        )
    return df

In [23]:
data = generate_random_dataframe(1000)
data

,date_of_report,postal_code,first_time_experience,aggressor,display_testimonial,written_report
0,27/05/2020 10:16 AM,CR2 6XH,no,father-in-law,0,wf8hoxauo41ad50h9wst6f3sjpg2
1,25/05/2020 02:54 AM,SW1 3RN,no,father,1,07svcbdesr9p0k
2,24/05/2020 07:28 AM,X,yes,father,0,ouavqzf4jojfu8qe
3,24/05/2020 07:30 AM,SW1V 4DG,yes,brother,0,5mmbx8ppamkc3vrhlarh8w
4,29/04/2020 09:37 PM,M1 1AE,yes,partner,0,his61ev2t6bivwpu7eo90m68hdxrj3m51tdgr
...,...,...,...,...,...,...
995,27/05/2020 01:13 AM,B7 4NG,yes,partner,0,2aihkvtebme
996,03/05/2020 11:56 PM,B33 8TH,no,partner,0,42no1ndt71hqybf4hrx1
997,24/05/2020 01:22 AM,nan,yes,brother,0,fvtezz6k05bhmylhxa7nfqj20oyz01kny0uggrr8
998,13/04/2020 11:05 PM,W1A 0AX,yes,brother,0,153f2f2pszku75nqscqs0hcbspitlaiyoriu71xrw7n6j
999,22/05/2020 10:31 AM,CR2 6XH,yes,father,1,dyalo804497xm6iaghxqxcak8hyk40ctuvy2su

In [24]:
data.to_csv("dummy_data_new.csv")